<!-- <a href="">
        <svg class="icon">
            <use xlink:href="#logo"></use>
        </svg>
        navbar navbar-expand-md fixed-top
    </a> -->
<header class="">
    <section class="full_nav-bar">
        <div class="nav-bar">
            <div class="logo-wrapp">
                <a href="" title="Онлайн типографія Швидкий друк">
                    <svg class="icon">
                        <use xlink:href="#logo"></use>
                    </svg>
                </a>
            </div>
            <div class="help-wrapp">
                <ul class="help-items">
                    <li class="item" id="btn-drop-one">
                        <a>Допомога
                            <svg class="drop-arrow">
                                <use xlink:href="#drop-arrow"></use>
                            </svg>
                        </a>
                        <ul class="drop-menu" id="drop-menu-one">
                            <li><a href="">Lorem</a></li>
                            <li><a href="">Lorem</a></li>
                            <li><a href="">Lorem</a></li>
                            <li><a href="">Lorem</a></li>
                        </ul>
                    </li>
                    <li class="item" id="btn-drop-two">
                        <a>Послуги
                            <svg class="drop-arrow">
                                <use xlink:href="#drop-arrow"></use>
                            </svg>
                        </a>
                        <ul class="drop-menu" id="drop-menu-two">
                            <li><a href="">Lorem</a></li>
                            <li><a href="">Lorem</a></li>
                            <li><a href="">Lorem</a></li>
                            <li><a href="">Lorem</a></li>
                        </ul>
                    </li>
                    <li class="item">
                        <a href="">Блог</a>
                    </li>
                    <li class="item">
                        <a href="">Контакти</a>
                    </li>
                </ul>
            </div>
            <div class="contact-wrapp">
                <div class="social-icon-wrapp">
                    <a href="">
                        <svg class="icon">
                            <use xlink:href="#facebook"></use>
                        </svg>
                    </a>
                    <a href="">
                        <svg class="icon">
                            <use xlink:href="#instagram"></use>
                        </svg>
                    </a>
                    <a href="">
                        <svg class="icon">
                            <use xlink:href="#telegram"></use>
                        </svg>
                    </a>
                </div>
                <div class="phone-wrapp">
                    <a class="phone-number">38 068 499 05 48</a>
                    <ul class="drop-menu" id="drop-menu-three">
                        <li><a href="">38 068 499 05 48</a></li>
                        <li><a href="">38 068 499 05 48</a></li>
                    </ul>
                </div>
            </div>
            <div class="btn-sidebar">
                <svg class="icon" id="sidebar-btn">
                    <use xlink:href="#btn-sidebar"></use>
                </svg>
            </div>
            <div class="btn-sidebar-close">
                <svg class="icon" id="sidebar-btn-close">
                    <use xlink:href="#btn-sidebar-close"></use>
                </svg>
            </div>
        </div>
    </section>
    <section class="mobile_nav-bar">
        <ul class="help-items">
            <li class="item" id="btn-drop-one">
                <a>Допомога
                    <svg class="drop-arrow">
                        <use xlink:href="#drop-arrow"></use>
                    </svg>
                </a>
                <ul class="drop-menu" id="drop-menu-one">
                    <li><a href="">Lorem</a></li>
                    <li><a href="">Lorem</a></li>
                    <li><a href="">Lorem</a></li>
                    <li><a href="">Lorem</a></li>
                </ul>
            </li>
            <li class="item" id="btn-drop-two">
                <a>Послуги
                    <svg class="drop-arrow">
                        <use xlink:href="#drop-arrow"></use>
                    </svg>
                </a>
                <ul class="drop-menu" id="drop-menu-two">
                    <li><a href="">Lorem</a></li>
                    <li><a href="">Lorem</a></li>
                    <li><a href="">Lorem</a></li>
                    <li><a href="">Lorem</a></li>
                </ul>
            </li>
            <li class="item">
                <a href="">Блог</a>
            </li>
            <li class="item">
                <a href="">Контакти</a>
            </li>
        </ul>
    </section>
    <section class="mask" id="sidebar-mask">
        <div class="sidebar">
            <div class="column red"></div>
            <div class="column">
                <ul>
                    <li><a href="">
                        <svg class="icon">
                            <use xlink:href="#support"></use>
                        </svg>
                        Допомога
                    </a>    
                    </li>
                    <li><a href="">
                        <svg class="icon">
                            <use xlink:href="#information"></use>
                        </svg>
                        Послуги
                    </a>    
                    </li>
                    <li><a href="">
                        <svg class="icon">
                            <use xlink:href="#cataloge"></use>
                        </svg>
                        Каталог</a>
                    </li>
                    <li><a href="">
                        <svg class="icon">
                            <use xlink:href="#newspaper"></use>
                        </svg>
                        Новини</a>
                    </li>
                    <li><a href="">
                        <svg class="icon">
                            <use xlink:href="#blog"></use>
                        </svg>
                        Блог</a>
                    </li>
                    <li><a href="">
                        <svg class="icon">
                            <use xlink:href="#phone"></use>
                        </svg>
                        38 068 499 05 48</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</header>